/node_modules
/public/hot
/public/images/*
/public/images=/*
/public/images==/*
public/images.zip
public/images1/*
public/images_10_1-.zip
/public/storage
/storage/*.key
/bootstrap
/storage
/public
/vendor
.env
.env.backup
composer.lock
composer.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log